*.RDS
*.txt
*.mgz
*.nii
*.nii.gz
*.hdr
*.img
*.BRIK
*.HEAD
*DS_Store
sMRI/subjects/*
fMRI/subjects/*
rsfMRI/subjects/*
._*
*.swp
.bash_logout
.bash_profile
.bashrc
.emacs
.kde/
.xdebug_tkmedit
.zshrc
.Rhistory
.Rapp.history
*/output/*
*/sid_batches/*
core
*.~*
~$*
*m~

#no pictures
*.jpg
*.png
*.gif
*.pdf
*.svg
*.jpeg

# We don't need to version control old stuff
archive/*
behavioral/raw/archive/*
behavioral/scripts/archive/*
fMRI/analysis/fx/multicond/archive/*
fMRI/analysis/masks/archive/*
fMRI/analysis/rx/archive/*
fMRI/scripts/fx/archive/*
fMRI/scripts/fx/models/cyb/archive/*
fMRI/scripts/ppc/shell/archive/*
fMRI/scripts/ppc/spm/archive/*
fMRI/scripts/rx/models/archive/*
.Rproj.user
